<h4>Добавить умение</h4>
<div class="row">
  <form novalidate #addSkillForm="ngForm" (ngSubmit)="addSkill(addSkillForm)">
    <fieldset class="form-group" [disabled]="!haveComposePermission">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Название" name="name" required #name ngModel>
      </div>
      <div class="col-xs-6">
        <select class="form-control" name="streamId" required>
          <option *ngFor="let stream of streams" [value]="stream._id">{{stream.name}}</option>
        </select>
      </div>
    </fieldset>
    <div class="col-xs-12">
      <button type="submit" class="btn btn-default pull-right" [disabled]="!haveComposePermission">
      Добавить
    </button>
    </div>
  </form>
</div>

<h4>Умения</h4>
<div class="panel-group">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a (click)="sss()"><span class="glyphicon glyphicon-minus-sign"></span> Frontend</a>
      </h4>
    </div>
    <div class="panel-collapse">
      <ul class="list-group">
        <li class="list-group-item">Angular 1</li>
        <li class="list-group-item">React</li>
        <li class="list-group-item">Vue</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a (click)="sss()"><span class="glyphicon glyphicon-plus-sign"></span> Frontend</a>
      </h4>
    </div>
    <div class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Angular 1</li>
        <li class="list-group-item">React</li>
        <li class="list-group-item">Vue</li>
      </ul>
    </div>
  </div>

</div>

<h4>Найти сотрудников по умениям</h4>
TODO: add is active filter. Implement chips for search like in material.
