<div dropdown>

  <!--TODO: this is bad implementation. Need normal dropdown-->
  <div class="input-group">
    <input type="text"
      readonly
      class="form-control"
      [placeholder]="placeholder"
      [value]="currentDateStr">
    <div class="input-group-btn">
      <button class="btn btn-default"
        dropdownToggle
        type="button">
      <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </div>
  </div>

  <datepicker *dropdownMenu
    [showWeeks]="false"
    [minDate]="minDate"
    (selectionDone)="selectionDone($event)"></datepicker>

</div>
