<h2>Что тут есть и как этим пользоваться.</h2>

<p>
  Это приложение, для учета умений сотрудников. Вкратце функционал такой:
</p>

<ul>
  <li>сотрудник добавляет себе отметки уровня различных умений (от 0 - слышал/читал об этом, до 4 - владею в совершенстве)</li>
  <li>уполномоченный пользователь (hr, тимлид) может подтверждать умения сотрудников (этот парень и в самом деле король верстки!)</li>
  <li>уполномоченный пользователь (тимлид) может добавить планы развития для сотрудников (хватит шлепать формы, переходи к big data!)</li>
  <li>в плане развития указывается до какого уровня должны вырасти несколько умений сотрудника к определенной дате</li>
  <li>можно искать сотрудников, которые владеют определенными умениями (кто в компании знает Fortran и ALGOL?)</li>
  <li>можно посмотреть, что умеет конкретный сотрудник</li>
  <li>можно посмотреть как развивается сотрудник (как изменялись его умения, выполняются ли планы развития)</li>
</ul>

<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Направления</h3>
  </div>
  <div class="panel-body">
    Примеры направлений - back-end, front-end, quality assurance, UI/UX/design, project management, sales. Право добавлять направления назначает админ.
  </div>
</div>
