<h2>Что тут есть и как этим пользоваться.</h2>

<p>
  Это приложение, для учета умений сотрудников. Функционал такой:
</p>

<ul>
  <li>сотрудник добавляет себе оценки (уровни) умений <i>(от 0 - заинтересован, но пока ничего не знаю, до 4 - владею в совершенстве)</i></li>
  <li>уполномоченный пользователь (hr, тимлид) может подтверждать оценки сотрудников <i>(этот парень и в самом деле король верстки!)</i></li>
  <li>уполномоченный пользователь (тимлид) может назначить сотруднику план развития <i>(хватит шлепать формы, переходи к big data!)</i></li>
  <li>в плане развития указывается, до какого уровня должны вырасти несколько умений сотрудника к определенному сроку</li>
  <li>можно искать сотрудников, которые владеют определенными умениями <i>(кто в компании знает Fortran77, ALGOL и говорит на албанском?)</i></li>
  <li>можно посмотреть, что умеет конкретный сотрудник</li>
  <li>можно посмотреть как развивается сотрудник (как изменялись его умения, выполняются ли планы развития)</li>
</ul>

<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Учетная запись и права</h3>
  </div>
  <div class="panel-body">
    Учетныая запись создатся к Google-профилю из домена steelkiwi.com.
    После увольнения учетку можно сделать неактивной.
    Бывают такие дополнительные права:
    <ul>
      <li>право добавлять направления и умения</li>
      <li>право подтверждать оценки, заявленные сотрудниками</li>
      <li>право назначать сотрудникам планы развития</li>
      <li>admin - назначение прав, а так же любые другие действия (включая повелевание над людьми, зверями и птицами)</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Направления</h3>
  </div>
  <div class="panel-body">
    Направлений должно быть немного.
    Примеры направлений:
    <ul>
      <li>UI/UX/design</li>
      <li>QA/testing</li>
      <li>mobile</li>
      <li>backend</li>
      <li>devops</li>
      <li>foreign languages</li>
    </ul>
    Хорошенько подумайте, прежде чем добавлять новое направление.
  </div>
</div>
