<h2>Что тут есть и как этим пользоваться.</h2>

<p>
  Это приложение, для учета умений сотрудников. Вкратце функционал такой:
</p>

<ul>
  <li>сотрудник добавляет себе отметки уровня различных умений (от 0 - слышал/читал об этом, до 4 - владею в совершенстве)</li>
  <li>уполномоченный пользователь (hr, тимлид) может подтверждать умения сотрудников (этот парень и в самом деле король верстки!)</li>
  <li>уполномоченный пользователь (тимлид) может назначить сотруднику план развития (хватит шлепать формы, переходи к big data!)</li>
  <li>в плане развития указывается до какого уровня должны вырасти несколько умений сотрудника к определенной дате</li>
  <li>можно искать сотрудников, которые владеют определенными умениями (кто в компании знает Fortran и ALGOL?)</li>
  <li>можно посмотреть, что умеет конкретный сотрудник</li>
  <li>можно посмотреть как развивается сотрудник (как изменялись его умения, выполняются ли планы развития)</li>
</ul>

<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Учетная запись и права</h3>
  </div>
  <div class="panel-body">
    Учетныая запись создатся к Google-профилю из домена steelkiwi.com.
    После увольнения учетку можно сделать неактивной.
    Предусмотрены несколько видов прав:
    <ul>
      <li>право добавлять направления и умения</li>
      <li>право подтверждать умения сотрудников</li>
      <li>право назначать сотрудникам планы развития</li>
      <li>admin - назначает права, а так же повелевает людьми, зверями и птицами</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Направления</h3>
  </div>
  <div class="panel-body">
    Примеры направлений:
    <ul>
      <li>project management</li>
      <li>quality assurance</li>
      <li>back-end</li>
      <li>sales</li>
      <li>UI/UX/design</li>
      <li>front-end</li>
    </ul>
    Хорошенько подумайте, прежде чем добавлять новое направление.
  </div>
</div>
