.chip
  display: inline-block
  padding: 0 18px
  height: 36px
  font-size: 14px
  line-height: 36px
  border-radius: 18px
  background-color: #f1f1f1
  margin-right: 10px
  margin-bottom: 10px;
  & .glyphicon-remove
    cursor: pointer
