<div class="row">
  <form class="col-xs-12" novalidate
    #addStreamForm="ngForm"
    (ngSubmit)="addName(addStreamForm)">
    <fieldset class="form-group"
      [disabled]="!haveComposePermission">
      <label for="name">Добавить направление</label>
      <input type="text" class="form-control" placeholder="Название" id="name" name="name" required
        #name
        ngModel>
    </fieldset>
    <button type="submit" class="btn btn-default pull-right"
      [disabled]="!haveComposePermission">
      Добавить
    </button>
  </form>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Направление</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stream of streams">
          <td>{{stream.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
