<h4>Добавить направление</h4>
<div class="row">
  <form novalidate #addSkillForm="ngForm" (ngSubmit)="addStream(addSkillForm)">
    <fieldset class="form-group" [disabled]="!haveComposePermission">
      <div class="col-xs-12">
        <input type="text" class="form-control" placeholder="Название" name="name" required #name ngModel>
      </div>
    </fieldset>
    <div class="col-xs-12">
      <button type="submit" class="btn btn-default pull-right" [disabled]="!haveComposePermission">
      Добавить
    </button>
    </div>
  </form>
</div>

<h4>Направления</h4>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let stream of streams">{{stream.name}}</li>
    </ul>
  </div>
</div>

<h4>Найти сотрудников по направлениям</h4>
<!--TODO: add is active filter. Implement chips for search like in material.-->
<div class="row">
  <form class="form-inline">
    <div class="form-group">
      <!--<input type="text" class="form-control" placeholder="Направление" name="searchName" required>-->
      <select class="form-control" name="searchName">
          <option *ngFor="let stream of streams" [value]="stream._id">{{stream.name}}</option>
      </select>
      <skdsm-chip [text]="'Short'"></skdsm-chip>
      <skdsm-chip [text]="'Miiiiiiidle'"></skdsm-chip>
      <skdsm-chip [text]="'Looooooooooooooooooong'"></skdsm-chip>
    </div>
  </form>
</div>
