/* You can add global styles to this file, and also import other style files */
a
button
  cursor:pointer;

input.ng-invalid.ng-touched
select.ng-invalid.ng-touched
  border-color: #d9534f

.glyphicon.expand-collapse
  color #666

.glyphicon.success
  color #5cb85c
